# R project temp files
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/

# Other document types
*.doc
*.docx

# Temp files (includes ALL markdown by default)
# replace with work folder when configured to use
*.md
*.aux
*.log
*.lof
*.lot
*.toc
*.pdf
/*.tex

# Output directory
/html

# Don't ignore these...
!issues.md
