# R project temp files
.Rproj.user
.Rhistory
.RData
.Ruserdata
/.quarto/
/*.nb.html

# python stuff
/.venv/

# Other document types
*.doc
*.docx

# Temp files (includes ALL markdown by default)
# replace with work folder when configured to use
*.md
*.aux
*.log
*.lof
*.lot
*.toc
*.pdf
/*.tex

# Output directory
_book/
/html

# Test directories
test_input/
test_output/
/test/

# Don't ignore these...
!issues.md
!/reports/*.md

